*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font: rgba(26, 24, 39);
  background-color: #f1eded;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
  color: var(--font);
}

body {
  margin: 0;
  background-color: var(background-color);
  padding: 0.5rem;
}

.controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  word-break: break-all;
}

.staffs-container {
  display: grid;
  place-items: center;
  gap: 2rem;
  border: 1px solid #ccc;
}

.staffs-container:nth-child(2) {
  margin-top: 1rem;
}

[id^="staff-root"] {
  border: 1px solid #008cff79;
}

.wrong-note-ui {
  color: transparent;
  transition: color 0.2s ease-in;
}

.wrong-note-ui.show {
  color: rgba(255, 0, 0, 0.558);
}