*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --font-color: rgba(26, 24, 39);
  --bg-color: #f4f4f5;
  --card-color: #ffffff;
  --card-hover-color: #e7e3e3;
  --border-color: #d4d4d8;
  --primary: #3b82f6;
  --primary-hover: oklch(58.31% 0.2 259.83);
  --primary-text: white;

  --danger-color: oklch(62% 0.16614 22.191);
  --danger-active-color: oklch(58% 0.16614 22.191);
}

:root[data-theme="dark"] {
  --font-color: #e4e4e7;
  --bg-color: oklch(18% 0.00588 285.832);
  --card-color: oklch(22% 0.00551 285.955);
  --card-hover-color: oklch(26% 0.00551 285.955);
  --border-color: oklch(42% 0.01 286.025);

  --button-color: oklch(88% 0.02 285.225);
  --button-hover-color: oklch(84% 0.03 285.225);

  --danger-color: oklch(56% 0.16614 22.191);
  --danger-active-color: oklch(62% 0.16614 22.191);
}


h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  color: var(--font-color);
}

p {
  font-size: 1rem;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  overflow-y: scroll;
}

section {
  padding: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

/* navbar */

.navbar {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;

  border-bottom: 1px solid var(--border-color);
  background-color: var(--card-color);
}

.navbar__buttons {
  display: flex;
}

.navbar__buttons>button.active {
  color: var(--primary);
  text-decoration: underline;
  text-underline-offset: 8px;
}

/* sections */

section.hide {
  display: none;
}

/* buttons */
button {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--primary-text);
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.875rem;

  transition: background-color 0.2s ease;
}

button:hover {
  background-color: var(--primary-hover);
}

button.outlined {
  color: var(--font-color);
  border-color: var(--border-color);
  background-color: transparent;
}

button.outlined:hover {
  background-color: var(--card-hover-color);
}

button.text {
  color: var(--font-color);
  background-color: transparent;
}

button.text:hover {
  background-color: var(--card-hover-color);
}

button.danger {
  background-color: var(--danger-color);
}

button.danger:hover {
  background-color: var(--danger-active-color);
}

button.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  padding: 0.25rem;
}

button.icon>svg>path {
  fill: var(--font-color)
}

/* cards */

.card {
  padding: 1.5rem;
  max-width: 500px;
  margin: auto;

  background: var(--card-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.card__overflow {
  padding: 0.75rem 1.5rem;
  max-height: 35em;
  overflow-y: auto;
}

.card:has(.card__overflow) {
  padding: 0;
  overflow: hidden;
}

section>.card:nth-of-type(n + 3) {
  margin-top: 1rem;
}

.card__controls {
  display: grid;
}

.card__controls:not(:first-child)::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
  margin-block: 1rem;
}

.card__control-label {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
}

.card__input {
  padding-block: 0.5rem;
}

.card__checkbox {
  padding-block: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.card__input>label {
  margin-bottom: 0.25rem;
}

.card__buttons {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 0.5rem;

  margin-top: 1rem;
}

/* Staff */

.staffs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}

#guitar-chords-root {
  overflow-x: auto;
}

.staffs-container:nth-child(2) {
  margin-top: 1rem;
}

[id^="staff-root"]:not(.show) {
  display: none;
}

[id^="staff-root"].show {
  display: block;
}

.wrong-note-ui {
  color: transparent;
  transition: color 0.2s ease-in;
}

.wrong-note-ui.show {
  color: rgba(255, 0, 0, 0.558);
}

/* Elements */

label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.875rem;
  color: var(--font-color);
}

input,
select {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 1rem;
  color: var(--font-color);
  background-color: transparent;
  width: clamp(100px, 50%, 300px);
  box-sizing: border-box;
}

input[type="checkbox"] {
  width: 1.25rem;
  height: 1.25rem;
}

/* VS TARGETING CLASSES */

div>svg.vs-svg-renderer-root {
  /* background-color: white; */
  /* max-width: unset !important; */
}

.vs-staff-layer {
  color: var(--font-color);
}

.vs-notes-layer {
  color: var(--font-color);
}

.vs-rhythm-current-beat {
  /* fill: greenyellow; */
  transition: x 0.2s ease-in;
}

.vs-scrolling-notes-layer>g {
  transition: transform 0.2s ease-in;
}

.vs-guitar-text {
  color: var(--font-color);
  font-size: 0.875rem;
}

.vs-guitar-diagram-label {
  font-weight: bold;
  /* font-size: 0.875rem; */
}

.vs-guitar-fret-label {
  font-size: 0.75rem;
}

.vs-guitar-group-fret-lines {
  color: var(--font-color);
}

.vs-guitar-group-string-lines {
  color: var(--font-color);
}

.vs-guitar-group-fret-dots {
  color: var(--font-color);
}

.vs-guitar-fret-muted {
  /* color: red; */
}

.vs-guitar-fret-open {
  /* color: blue; */
}

.vs-guitar-fret-text {
  color: white;
  font-weight: bold;
}

.vs-guitar-fret-dot {
  color: oklch(50% 0.05 220);
}

.vs-guitar-fret-dot:nth-child(odd of .vs-guitar-fret-dot) {
  color: oklch(60% 0.25 200);
}

.vs-guitar-barre {
  fill: oklch(40% 0.05 220);
}

.vs-guitar-group-string-labels text {
  font-size: 0.75rem;
}