*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --font-color: rgba(26, 24, 39);
  --bg-color: #f4f4f5;
  --card-bg: #ffffff;
  --border: #d4d4d8;
  --primary: #3b82f6;

  --danger-color: #f87171;
  --danger-border: #7f1d1d;
}

:root[data-theme="light"] {
  --font-color: rgba(26, 24, 39);
  --bg-color: #f4f4f5;
  --card-bg: #ffffff;
  --border: #d4d4d8;
  --primary: #3b82f6;

  --danger-color: #f87171;
  --danger-border: #7f1d1d;
}

:root[data-theme="dark"] {
  --font-color: #e4e4e7;
  --bg-color: #18181b;
  --card-bg: #27272a;
  --border: #3f3f46;

  --input-bg: #18181b;
  --button-bg: #27272a;
  --button-hover: #3f3f46;
  --staff-border: #52525b;

}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  color: var(--font-color);
}

p {
  font-size: 1rem;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  padding: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

/* Staff */

.staffs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}

.staffs-container:nth-child(2) {
  margin-top: 1rem;
}

[id^="staff-root"]:not(.show) {
  display: none;
}

[id^="staff-root"].show {
  display: block;
}

.wrong-note-ui {
  color: transparent;
  transition: color 0.2s ease-in;
}

.wrong-note-ui.show {
  color: rgba(255, 0, 0, 0.558);
}

/* Inputs */
.card-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.controls-card {
  background: var(--card-bg);
  border: 1px solid var(--border);
  padding: 1.5rem;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.controls-card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.1rem;
  text-align: center;
}

.controls-card hr {
  border: 0;
  border-top: 1px solid var(--border);
  margin: 1.5rem 0;
}

.input-stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--font-color);
}

input,
select {
  padding: 0.5rem;
  border: 1px solid var(--border);
  border-radius: 4px;
  font-size: 1rem;
  color: var(--font-color);
  background-color: var(--bg-color);
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
}

.button-grid:not(:first-of-type) {
  margin-top: 1.5rem;
}

button {
  padding: 0.75rem;
  cursor: pointer;
  background-color: var(--bg-color);
  border: 1px solid var(--border);
  color: var(--font-color);
  border-radius: 4px;
  font-weight: 600;
}

button.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  padding: 0.5rem;
}

button.icon>svg>path {
  fill: var(--font-color)
}

button:hover {
  background-color: var(--button-hover);
  border-color: var(--border);
}

.danger {
  color: var(--danger-color);
  border-color: var(--danger-border);
}

g.scrolling-notes-layer>g.vs-note-wrapper {
  transition: transform 0.2s ease-in;
}